{% extends 'ToDoApp/base.html' %}
{% block content %}
<div class="container mt-4">
  <h3><strong>📋 All Tasks</strong></h3>
  <p class="text-muted">Showing all tasks (completed and uncompleted)</p>
  {% if tasks %}
   <ul class="list-group mt-3">
  {% for task in tasks %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div>
      <strong>{{ task.title }}</strong><br>
      <small class="text-muted">{{ task.description }}</small><br>
      <small class="text-muted d-block mt-1">
        🕒 Created: {{ task.created_at|date:"M d, Y" }}
        {% if task.due_date %} | 📅 Due: {{ task.due_date|date:"M d, Y" }}{% endif %}
      </small>
      {% if task.completed_at %}
      <small class="text-muted">✔️	Completed on: {{ task.completed_at|date:"M d, Y H:i" }}</small>
      {% endif %}
    </div>
    <div class="text-end">
      {% if task.is_completed %}
        <span class="badge bg-success mb-1">Completed</span><br>
      {% else %}
        <span class="badge bg-secondary mb-1">Pending</span><br>
      {% endif %}
      <a href="{% url 'task_delete' task.id %}" class="btn btn-sm btn-outline-danger mt-1">Delete</a>
    </div>
  </li>
  {% endfor %}
</ul>
  {% else %}
    <p>No tasks found.</p>
  {% endif %}
      <a href="{% url 'task_list' %}" class="btn btn-secondary">Back</a>
</div>
{% endblock %}
